/* Variáveis globais */

:root {
    --cor-primaria: #034603;
    --cor-destaque: #ccf731;
    --cor-texto: #1c1d1a;
    --cor-sobreposicao-titulo: rgba(0, 0, 0, 0.5);
    --fonte-titulo: "Segoe UI", "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

/* Seletor curinga */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seletores de elemento */

body {
    font-family: var(--fonte-body);
    color: var(--cor-texto);
}

header, main, footer {
    width: 840px;
    margin: 10px auto 10px auto;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: rgb(1, 65, 1);
    font-weight: bold
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

footer {
    background-color: var(--cor-destaque);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

footer nav {
    margin: 0px;
    padding: 0px;
}

.redes-sociais, a, nav a, footer a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a{
    list-style: none;
    color: #f5f236;
}

nav a:hover {
    color: #ffffff;
}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-sobreposicao-titulo);
    color: #f5f236;
    text-shadow: 5px 5px 4px #000;
}

/* Seletores de classe */

.hero article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f7f30e;
    text-shadow: 5px 5px 4px #000;
}

.hero article img {
  float: right;
  width: 150px;
  margin: 0 5px;
}

.redes-sociais a {
    text-decoration: none;
}

.redes-sociais img {
    width: 36px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.historia {
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 0;
    margin-right: 0;
}

.historia div {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
}

.historia img {
    display: block;
    width: 200px;
}

.aventura {
    margin-left: 0;
    margin-right: 0;
    /* padding: 0px; */
}

.aventura div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding: 0px;
}

.aventura img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}