/* Variáveis globais */

:root {
    --cor-primaria: rgb(3, 70, 3);
    --cor-destaque: rgb(204 247 47);
    --cor-texto: rgb(28, 29, 26);
    --cor-texto-destaque: rgb(240, 248, 225);
    --cor-sobreposicao: rgba(0, 0, 0, 0.6);
    --cor-link-botao: rgb(44, 3, 158);
    --fonte-titulo: "Segoe UI", "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

/* Seletor curinga */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seletores de elemento */

body {
    font-family: var(--fonte-body);
    color: var(--cor-texto);
}

header, main, footer {
    width: 840px;
    margin: 10px auto 10px auto;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--cor-destaque);
    font-weight: bold;
    color: var(--cor-texto);
}

header img {
    width: 150px;
    padding: 20px;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    color: var(--cor-destaque);
    background-color: var(--cor-sobreposicao);
}

/* Seletores de classe */

.hero article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    padding: 16px;
    font-weight: bold;
    color: var(--cor-destaque);
    text-align: center;
    background-color: var(--cor-sobreposicao);
}

.hero article img {
  float: right;
  width: 150px;
  margin: 0 5px;
}

/* retirado em razão da auditoria */
/* .socialmedia img {
    width: 36px;
    height: auto;
} */

.redes-sociais img { /* adicionado em razão da auditoria */
    width: 36px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.historia {
    background-color: var(--cor-destaque);
    margin-left: 0;
    margin-right: 0;
}

.historia div {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
}

.historia img {
    width: 200px;
}

.aventura, .finalidade-ofertas {
    margin-left: 0;
    margin-right: 0;
}

.aventura div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding: 0px;
}

.aventura img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.contato {
    text-align: center;
    margin: 0 auto;
}

.map-formulario {
    display: flex;
    align-items: start;
    gap: 20px;
    padding: 0px 10px;
}

.map-formulario iframe, .map-formulario form {
    flex: 1;
}

.map-formulario .campo-formulario {
    display: grid;
    grid-template-columns: 150px 1fr;
    margin: 10px;
}

.campo-formulario-checkbox {
    margin: 5px auto 15px auto;
}

.map-formulario fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1px;
    border: none;
    padding: 0;
}

.botao-formulario {
    padding: 5px;
}

.map-formulario form {
    display: grid;
}

.funcionarios {
    margin-left: 0;
    margin-right: 0;
}

.funcionarios div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding: 0px;
}

.funcionarios img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}


.index-conteiner {
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: start;
}

.finalidade-ofertas div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 10px;
    padding: 0px;
}

.finalidade-ofertas img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.chamada-passeios {
    border-radius: 10px;
    background-color: var(--cor-destaque);
    margin-left: 0;
    margin-right: 0;
    width: 80%;
}

.chamada-contato {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 250px;
    background-color: var(--cor-destaque);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.3);
}


.chamada-passeios a, .chamada-contato a {
    border-radius: 0.5rem;
    padding: 10px 30px;
    background-color: var(--cor-link-botao);
    display: inline-block;
    color: var(--cor-texto-destaque);
    font-weight: bold;
}

.newsletter {
  display: block;
  background-color: var(--cor-destaque);
  margin: 10px;
  padding: 3px;
  border-radius: 10px;
  text-align: left;
}

.newsletter-linha {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 1px;
  margin-bottom: 8px;
}

.newsletter input {
  width: 100%;
  padding: 6px 8px;
}

.newsletter .botao-formulario {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
}

.passeios-detalhes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 10px;
    padding: 0px;
}

.passeios-detalhes .passeio {
    border: 1px solid var(--cor-primaria);
}

.passeios-detalhes img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.passeios-alta {
    margin: 20px 0 0 0;
    padding: 10px 0px;
    width: 100%;
    color: var(--cor-destaque);
    background-color: var(--cor-sobreposicao);
}

.table-passeios {
    margin: 10px auto 20px auto;
    border-collapse: collapse;
    border: 2px solid var(--cor-sobreposicao);
    letter-spacing: 1px;
    background-color: var(--cor-destaque);
}

.table-passeios th, .table-passeios td {
    border: 1px solid var(--cor-sobreposicao);
    padding: 8px 10px;
    text-align: center;
}

thead th {
    background-color: var(--cor-sobreposicao);
    color: var(--cor-texto-destaque);
}

.passeios-seguranca {
    position: relative;
    background-color: var(--cor-destaque);
    margin-left: 0;
    margin-right: 0;
}

.passeios-seguranca article {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 200px;;
    padding: 8px;
    font-weight: bold;
    color: var(--cor-destaque);
    text-align: center;
    background-color: var(--cor-sobreposicao);
}

.passeios-seguranca img {
    width: 800px;
    padding: 10px;
}
