/* Variáveis globais */

:root {
    --cor-primaria: #034603;
    --cor-destaque: #ccf731;
    --cor-texto: #1c1d1a;
    --cor-sobreposicao-titulo: rgba(0, 0, 0, 0.5);
    --fonte-titulo: "Segoe UI", "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

/* Seletor curinga */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Seletores de elemento */

body {
    font-family: var(--fonte-body);
    color: var(--cor-texto);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

footer {
    background-color: var(--cor-destaque);
}

.redes-sociais, a, nav a, footer a {
    text-decoration: none;
}

h1, h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--cor-sobreposicao-titulo);
    color: #f5f236;
    text-shadow: 5px 5px 4px #000;
}

/* Seletores de classe */

.hero article {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f7f30e;
    text-shadow: 5px 5px 4px #000;
}

.hero article img {
  float: right;
  width: 150px;
  margin: 0 5px;
}

.redes-sociais a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
